.l-icon{ width:16px; height:16px; overflow:hidden;}
.l-icon-action_back{background:url('icons/action_back.gif') no-repeat center;}
.l-icon-action_forward{background:url('icons/action_forward.gif') no-repeat center;}
.l-icon-action_go{background:url('icons/action_go.gif') no-repeat center;}
.l-icon-action_paste{background:url('icons/action_paste.gif') no-repeat center;}
.l-icon-action_print{background:url('icons/action_print.gif') no-repeat center;}
.l-icon-action_refresh{background:url('icons/action_refresh.gif') no-repeat center;}
.l-icon-action_refresh_blue{background:url('icons/action_refresh_blue.gif') no-repeat center;}
.l-icon-action_save{background:url('icons/action_save.gif') no-repeat center;}
.l-icon-action_stop{background:url('icons/action_stop.gif') no-repeat center;}
.l-icon-add{background:url('icons/add.gif') no-repeat center;}
.l-icon-application_dreamweaver{background:url('icons/application_dreamweaver.gif') no-repeat center;}
.l-icon-application_firefox{background:url('icons/application_firefox.gif') no-repeat center;}
.l-icon-application_flash{background:url('icons/application_flash.gif') no-repeat center;}
.l-icon-application_view_list{background:url('icons/application_view_list.png') no-repeat center;}
.l-icon-archives{background:url('icons/archives.gif') no-repeat center;}
.l-icon-arrow_down{background:url('icons/arrow_down.gif') no-repeat center;}
.l-icon-arrow_left{background:url('icons/arrow_left.gif') no-repeat center;}
.l-icon-arrow_right{background:url('icons/arrow_right.gif') no-repeat center;}
.l-icon-arrow_up{background:url('icons/arrow_up.gif') no-repeat center;}
.l-icon-attibutes{background:url('icons/attibutes.gif') no-repeat center;}
.l-icon-back{background:url('icons/back.gif') no-repeat center;}
.l-icon-bluebook{background:url('icons/bluebook.gif') no-repeat center;}
.l-icon-bookpen{background:url('icons/bookpen.gif') no-repeat center;}
.l-icon-box{background:url('icons/box.gif') no-repeat center;}
.l-icon-busy{background:url('icons/busy.gif') no-repeat center;}
.l-icon-calendar{background:url('icons/calendar.gif') no-repeat center;}
.l-icon-candle{background:url('icons/candle.gif') no-repeat center;}
.l-icon-coffee{background:url('icons/coffee.gif') no-repeat center;}
.l-icon-comment{background:url('icons/comment.gif') no-repeat center;}
.l-icon-comment_blue{background:url('icons/comment_blue.gif') no-repeat center;}
.l-icon-comment_delete{background:url('icons/comment_delete.gif') no-repeat center;}
.l-icon-comment_new{background:url('icons/comment_new.gif') no-repeat center;}
.l-icon-comment_yellow{background:url('icons/comment_yellow.gif') no-repeat center;}
.l-icon-communication{background:url('icons/communication.gif') no-repeat center;}
.l-icon-config{background:url('icons/config.gif') no-repeat center;}
.l-icon-copy{background:url('icons/copy.gif') no-repeat center;}
.l-icon-customers{background:url('icons/customers.gif') no-repeat center;}
.l-icon-cut{background:url('icons/cut.gif') no-repeat center;}
.l-icon-database{background:url('icons/database.gif') no-repeat center;}
.l-icon-date{background:url('icons/date.gif') no-repeat center;}
.l-icon-date_delete{background:url('icons/date_delete.gif') no-repeat center;}
.l-icon-date_new{background:url('icons/date_new.gif') no-repeat center;}
.l-icon-delete{background:url('icons/delete.gif') no-repeat center;}
.l-icon-discuss{background:url('icons/discuss.gif') no-repeat center;}
.l-icon-down{background:url('icons/down.gif') no-repeat center;}
.l-icon-edit{background:url('icons/edit.gif') no-repeat center;}
.l-icon-file_acrobat{background:url('icons/file_acrobat.gif') no-repeat center;}
.l-icon-file_font{background:url('icons/file_font.gif') no-repeat center;}
.l-icon-file_font_truetype{background:url('icons/file_font_truetype.gif') no-repeat center;}
.l-icon-flag_blue{background:url('icons/flag_blue.gif') no-repeat center;}
.l-icon-flag_green{background:url('icons/flag_green.gif') no-repeat center;}
.l-icon-flag_orange{background:url('icons/flag_orange.gif') no-repeat center;}
.l-icon-flag_red{background:url('icons/flag_red.gif') no-repeat center;}
.l-icon-flag_white{background:url('icons/flag_white.gif') no-repeat center;}
.l-icon-folder{background:url('icons/folder.gif') no-repeat center;}
.l-icon-folder_delete{background:url('icons/folder_delete.gif') no-repeat center;}
.l-icon-folder_images{background:url('icons/folder_images.gif') no-repeat center;}
.l-icon-folder_lock{background:url('icons/folder_lock.gif') no-repeat center;}
.l-icon-folder_new{background:url('icons/folder_new.gif') no-repeat center;}
.l-icon-folder_page{background:url('icons/folder_page.gif') no-repeat center;}
.l-icon-graywarn{background:url('icons/graywarn.gif') no-repeat center;}
.l-icon-greenwarn{background:url('icons/greenwarn.gif') no-repeat center;}
.l-icon-help{background:url('icons/help.gif') no-repeat center;}
.l-icon-home{background:url('icons/home.gif') no-repeat center;}
.l-icon-icon_accept{background:url('icons/icon_accept.gif') no-repeat center;}
.l-icon-icon_airmail{background:url('icons/icon_airmail.gif') no-repeat center;}
.l-icon-icon_alert{background:url('icons/icon_alert.gif') no-repeat center;}
.l-icon-icon_attachment{background:url('icons/icon_attachment.gif') no-repeat center;}
.l-icon-icon_clock{background:url('icons/icon_clock.gif') no-repeat center;}
.l-icon-icon_component{background:url('icons/icon_component.gif') no-repeat center;}
.l-icon-icon_download{background:url('icons/icon_download.gif') no-repeat center;}
.l-icon-icon_email{background:url('icons/icon_email.gif') no-repeat center;}
.l-icon-icon_extension{background:url('icons/icon_extension.gif') no-repeat center;}
.l-icon-icon_favourites{background:url('icons/icon_favourites.gif') no-repeat center;}
.l-icon-icon_get_world{background:url('icons/icon_get_world.gif') no-repeat center;}
.l-icon-icon_history{background:url('icons/icon_history.gif') no-repeat center;}
.l-icon-icon_home{background:url('icons/icon_home.gif') no-repeat center;}
.l-icon-icon_info{background:url('icons/icon_info.gif') no-repeat center;}
.l-icon-icon_key{background:url('icons/icon_key.gif') no-repeat center;}
.l-icon-icon_link{background:url('icons/icon_link.gif') no-repeat center;}
.l-icon-icon_mail{background:url('icons/icon_mail.gif') no-repeat center;}
.l-icon-icon_monitor_mac{background:url('icons/icon_monitor_mac.gif') no-repeat center;}
.l-icon-icon_monitor_pc{background:url('icons/icon_monitor_pc.gif') no-repeat center;}
.l-icon-icon_network{background:url('icons/icon_network.gif') no-repeat center;}
.l-icon-icon_package{background:url('icons/icon_package.gif') no-repeat center;}
.l-icon-icon_package_get{background:url('icons/icon_package_get.gif') no-repeat center;}
.l-icon-icon_package_open{background:url('icons/icon_package_open.gif') no-repeat center;}
.l-icon-icon_padlock{background:url('icons/icon_padlock.gif') no-repeat center;}
.l-icon-icon_security{background:url('icons/icon_security.gif') no-repeat center;}
.l-icon-icon_settings{background:url('icons/icon_settings.gif') no-repeat center;}
.l-icon-icon_user{background:url('icons/icon_user.gif') no-repeat center;}
.l-icon-icon_wand{background:url('icons/icon_wand.gif') no-repeat center;}
.l-icon-icon_world{background:url('icons/icon_world.gif') no-repeat center;}
.l-icon-icon_world_dynamic{background:url('icons/icon_world_dynamic.gif') no-repeat center;}
.l-icon-image{background:url('icons/image.gif') no-repeat center;}
.l-icon-image_new{background:url('icons/image_new.gif') no-repeat center;}
.l-icon-interface_browser{background:url('icons/interface_browser.gif') no-repeat center;}
.l-icon-interface_dialog{background:url('icons/interface_dialog.gif') no-repeat center;}
.l-icon-interface_installer{background:url('icons/interface_installer.gif') no-repeat center;}
.l-icon-list_comments{background:url('icons/list_comments.gif') no-repeat center;}
.l-icon-list_components{background:url('icons/list_components.gif') no-repeat center;}
.l-icon-list_errors{background:url('icons/list_errors.gif') no-repeat center;}
.l-icon-list_extensions{background:url('icons/list_extensions.gif') no-repeat center;}
.l-icon-list_images{background:url('icons/list_images.gif') no-repeat center;}
.l-icon-list_keys{background:url('icons/list_keys.gif') no-repeat center;}
.l-icon-list_links{background:url('icons/list_links.gif') no-repeat center;}
.l-icon-list_packages{background:url('icons/list_packages.gif') no-repeat center;}
.l-icon-list_security{background:url('icons/list_security.gif') no-repeat center;}
.l-icon-list_settings{background:url('icons/list_settings.gif') no-repeat center;}
.l-icon-list_users{background:url('icons/list_users.gif') no-repeat center;}
.l-icon-list_world{background:url('icons/list_world.gif') no-repeat center;}
.l-icon-lock{background:url('icons/lock.gif') no-repeat center;}
.l-icon-logout{background:url('icons/logout.gif') no-repeat center;}
.l-icon-mailbox{background:url('icons/mailbox.gif') no-repeat center;}
.l-icon-memeber{background:url('icons/memeber.gif') no-repeat center;}
.l-icon-modify{background:url('icons/modify.gif') no-repeat center;}
.l-icon-msn{background:url('icons/msn.gif') no-repeat center;}
.l-icon-myaccount{background:url('icons/myaccount.gif') no-repeat center;}
.l-icon-note{background:url('icons/note.gif') no-repeat center;}
.l-icon-note_delete{background:url('icons/note_delete.gif') no-repeat center;}
.l-icon-note_new{background:url('icons/note_new.gif') no-repeat center;}
.l-icon-ok{background:url('icons/ok.gif') no-repeat center;}
.l-icon-outbox{background:url('icons/outbox.gif') no-repeat center;}
.l-icon-page{background:url('icons/page.gif') no-repeat center;}
.l-icon-page_alert{background:url('icons/page_alert.gif') no-repeat center;}
.l-icon-page_attachment{background:url('icons/page_attachment.gif') no-repeat center;}
.l-icon-page_bookmark{background:url('icons/page_bookmark.gif') no-repeat center;}
.l-icon-page_boy{background:url('icons/page_boy.gif') no-repeat center;}
.l-icon-page_code{background:url('icons/page_code.gif') no-repeat center;}
.l-icon-page_colors{background:url('icons/page_colors.gif') no-repeat center;}
.l-icon-page_component{background:url('icons/page_component.gif') no-repeat center;}
.l-icon-page_cross{background:url('icons/page_cross.gif') no-repeat center;}
.l-icon-page_delete{background:url('icons/page_delete.gif') no-repeat center;}
.l-icon-page_deny{background:url('icons/page_deny.gif') no-repeat center;}
.l-icon-page_down{background:url('icons/page_down.gif') no-repeat center;}
.l-icon-page_dynamic{background:url('icons/page_dynamic.gif') no-repeat center;}
.l-icon-page_edit{background:url('icons/page_edit.gif') no-repeat center;}
.l-icon-page_extension{background:url('icons/page_extension.gif') no-repeat center;}
.l-icon-page_favourites{background:url('icons/page_favourites.gif') no-repeat center;}
.l-icon-page_find{background:url('icons/page_find.gif') no-repeat center;}
.l-icon-page_flash{background:url('icons/page_flash.gif') no-repeat center;}
.l-icon-page_girl{background:url('icons/page_girl.gif') no-repeat center;}
.l-icon-page_html{background:url('icons/page_html.gif') no-repeat center;}
.l-icon-page_java{background:url('icons/page_java.gif') no-repeat center;}
.l-icon-page_key{background:url('icons/page_key.gif') no-repeat center;}
.l-icon-page_left{background:url('icons/page_left.gif') no-repeat center;}
.l-icon-page_link{background:url('icons/page_link.gif') no-repeat center;}
.l-icon-page_lock{background:url('icons/page_lock.gif') no-repeat center;}
.l-icon-page_new{background:url('icons/page_new.gif') no-repeat center;}
.l-icon-page_next{background:url('icons/page_next.gif') no-repeat center;}
.l-icon-page_package{background:url('icons/page_package.gif') no-repeat center;}
.l-icon-page_php{background:url('icons/page_php.gif') no-repeat center;}
.l-icon-page_prev{background:url('icons/page_prev.gif') no-repeat center;}
.l-icon-page_refresh{background:url('icons/page_refresh.gif') no-repeat center;}
.l-icon-page_right{background:url('icons/page_right.gif') no-repeat center;}
.l-icon-page_script{background:url('icons/page_script.gif') no-repeat center;}
.l-icon-page_security{background:url('icons/page_security.gif') no-repeat center;}
.l-icon-page_settings{background:url('icons/page_settings.gif') no-repeat center;}
.l-icon-page_sound{background:url('icons/page_sound.gif') no-repeat center;}
.l-icon-page_tag_blue{background:url('icons/page_tag_blue.gif') no-repeat center;}
.l-icon-page_tag_red{background:url('icons/page_tag_red.gif') no-repeat center;}
.l-icon-page_text{background:url('icons/page_text.gif') no-repeat center;}
.l-icon-page_text_delete{background:url('icons/page_text_delete.gif') no-repeat center;}
.l-icon-page_tick{background:url('icons/page_tick.gif') no-repeat center;}
.l-icon-page_tree{background:url('icons/page_tree.gif') no-repeat center;}
.l-icon-page_up{background:url('icons/page_up.gif') no-repeat center;}
.l-icon-page_url{background:url('icons/page_url.gif') no-repeat center;}
.l-icon-page_user{background:url('icons/page_user.gif') no-repeat center;}
.l-icon-page_user_dark{background:url('icons/page_user_dark.gif') no-repeat center;}
.l-icon-page_user_light{background:url('icons/page_user_light.gif') no-repeat center;}
.l-icon-page_video{background:url('icons/page_video.gif') no-repeat center;}
.l-icon-page_wizard{background:url('icons/page_wizard.gif') no-repeat center;}
.l-icon-pager{background:url('icons/pager.gif') no-repeat center;}
.l-icon-photograph{background:url('icons/photograph.gif') no-repeat center;}
.l-icon-plus{background:url('icons/plus.gif') no-repeat center;}
.l-icon-prev{background:url('icons/prev.gif') no-repeat center;}
.l-icon-print{background:url('icons/print.gif') no-repeat center;}
.l-icon-process{background:url('icons/process.gif') no-repeat center;}
.l-icon-qq{background:url('icons/qq.gif') no-repeat center;}
.l-icon-refresh{background:url('icons/refresh.gif') no-repeat center;}
.l-icon-right{background:url('icons/right.gif') no-repeat center;}
.l-icon-role{background:url('icons/role.gif') no-repeat center;}
.l-icon-save{background:url('icons/save.gif') no-repeat center;}
.l-icon-save_disabled{background:url('icons/save-disabled.gif') no-repeat center;}
.l-icon-search{background:url('icons/search.gif') no-repeat center;}
.l-icon-search2{background:url('icons/search2.gif') no-repeat center;}
.l-icon-settings{background:url('icons/settings.gif') no-repeat center;}
.l-icon-table{background:url('icons/table.gif') no-repeat center;}
.l-icon-table_delete{background:url('icons/table_delete.gif') no-repeat center;}
.l-icon-tables{background:url('icons/tables.gif') no-repeat center;}
.l-icon-true{background:url('icons/true.gif') no-repeat center;}
.l-icon-up{background:url('icons/up.gif') no-repeat center;}
.l-icon-wait{background:url('icons/wait.gif') no-repeat center;}
.l-icon-drop-add{background:url('icons/drop-add.gif') no-repeat center;}
.l-icon-drop-yes{background:url('icons/drop-yes.gif') no-repeat center;}
.l-icon-drop-delete{background:url('icons/drop-delete.png') no-repeat center;}
.l-icon-pencil{background:url('icons/pencil.png') no-repeat center;}
.l-icon-application{background:url('icons/application.png') no-repeat center;}
.l-icon-world{background:url('icons/world.png') no-repeat center;}
.l-icon-world_add{background:url('icons/world_add.png') no-repeat center;}
.l-icon-Production{background:url('icons/Production.png') no-repeat center;}
.l-icon-notepad{background:url('icons/notepad.png') no-repeat center;}
.l-icon-round{background:url('icons/round.png') no-repeat center;}
.l-icon-saction{background:url('icons/saction.png') no-repeat center;}
.l-icon-safe{background:url('icons/safe.png') no-repeat center;}
.l-icon-stady{background:url('icons/stady.png') no-repeat center;}
.l-icon-student{background:url('icons/student.png') no-repeat center;}
.l-icon-world_edit{background:url('icons/world_edit.png') no-repeat center;}
.l-icon-world_delete{background:url('icons/world_delete.png') no-repeat center;}
.l-icon-group{background:url('icons/group.png') no-repeat center;}
.l-icon-group_add{background:url('icons/group_add.png') no-repeat center;}
.l-icon-group_delete{background:url('icons/group_delete.png') no-repeat center;}
.l-icon-group_edit{background:url('icons/group_edit.png') no-repeat center;}
.l-icon-user_group{background:url('icons/user_group.png') no-repeat center;}
.l-icon-user_group_add{background:url('icons/user_group_add.png') no-repeat center;}
.l-icon-user_group_delete{background:url('icons/user_group_delete.png') no-repeat center;}
.l-icon-user_group_edit{background:url('icons/user_group_edit.png') no-repeat center;}
.l-icon-user_group_key{background:url('icons/user_group_key.png') no-repeat center;}
.l-icon-user_home{background:url('icons/user_home.png') no-repeat center;}
.l-icon-bullet_home{background:url('icons/bullet_home.png') no-repeat center;}
.l-icon-application_home{background:url('icons/application_home.png') no-repeat center;}
.l-icon-control_power_blue{background:url('icons/control_power_blue.png') no-repeat center;}
.l-icon-report_user{background:url('icons/report_user.png') no-repeat center;}

